
@{
}

@model IQueryable<string>

<div class="d-grid gap-2">

    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Severity <i class="icofont-thin-down"></i></a>
        <ul class="dropdown-menu" aria-labelledby="dropdown02">

            @foreach (string c in Model)
            {
                <li><a asp-controller="Home" asp-action="SummaryData" asp-route-severityID="@c" 
                       class="dropdown-item">
                    @{  if (c == 1.ToString())
                        {
                            <p>1 - No Injury</p>
                        }
                        else if (c == 2.ToString())
                        {
                            <p>2 - Possible Injury</p>
                        }
                        else if (c == 3.ToString())
                        {
                            <p>3 - Suspected Minor Injury</p>
                        }
                        else if (c == 4.ToString())
                        {
                            <p>4 - Suspected Serious Injury</p>
                        }
                        else if (c == 5.ToString())
                        {
                            <p>5 - Fatal</p>
                        }


                     }</a></li>
            }

        </ul>
    </div>


    
    @*@foreach (string c in Model) // this is in case I need it as a button but probably won't
    {
        <a asp-controller="Home" asp-action="SummaryData" asp-route-severityID="@c"
           class="btn btn-block @(ViewBag.SelectedType == c ? "btn-primary focus " : "btn btn-outline-secondary btn-focus")">@c</a>
    }*@
</div> 
