@{
    ViewData["Title"] = "Home Page";
}

@model List<Collision>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This will tell you what the site is and what it does.</p>


    <ul>

        @foreach (var x in Model)
            {
                <li>@x.CITY - @x.CRASH_SEVERITY_ID </li>
            }

    </ul>
</div>
