@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This will tell you what the site is and what it does.</p>
     

    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Login">Admin Login here</a>

</div>
