@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Home" asp-action="LoginTest" method="post">
    <input type="text" name="username" value=""/>
    <input type="text" name="password" value=""/>
    <button type="submit">Login</button>
</form>