
@{
    Layout = null; 
}


<div>
    <form method="post">
        
        <input type="text" name="passcode" placeholder="Enter 6 digit here" /><br />
        <input type="submit" value="verify" />
    </form>
</div>