@{
    ViewData["Title"] = "Prediction";
}

@model CrashMLData

<form method="post" asp-controller="Inference" asp-action="Score">

    @*<div><label></label><input asp-for="" value="" /></div>
    <div><label></label><input asp-for="" value="" /></div>
    <div><label></label><input asp-for="" value="" /></div>
    <div><label></label><input asp-for="" value="" /></div>
    <div><label></label><input asp-for="" value="" /></div>
    <div><label></label><input asp-for="" value="" /></div>
    <div><label></label><input asp-for="" value="" /></div>
    <div><label></label><input asp-for="" value="" /></div>*@

    <button type="submit">Calculate</button>
</form>
